$yellow: #FFC12C ;
$light-blue: #007cba;
$dark-blue:#006ba1;
$light-grey: #f1f2f4;
$red: #EE4525;
 
.navbar{
  background-color: $yellow;
  .navbar-brand{
    color: $light-blue !important;
  }
}
 
.list{
  margin-top: 40px;
  
  .title, ul{
    font-size: 22px;
    color: $light-blue;
    font-weight: 600;
    margin-bottom: 4px;
  }  
  
  .card{
    background-color: $light-grey;
  }
  .card span{
    margin-left: 10px;
  }
  
  ul{    
    list-style: none;    
  }
}

.project_title{

  margin-left: 10px;
  font-size: 1.2em;
}

.table tr:first-child td {
  border: none;
}


.error_msg{
  color: $red;
}

.task_done {
   position: relative;
  display: inline-block;
  text-decoration: line-through
}

.task_done .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: $yellow;
  color: $light-blue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.task_done:hover .tooltiptext {
  visibility: visible;
}

.projectIcons{
  float: right;
}

.user_info{
  color: $light-blue;  
}

.user_logout{
  color: black;
  cursor: pointer;
}

.user_logout:hover{
  color: $light-blue;
}

.start_adding{
  font-style: italic;
}